body {
  font-family: "Inter", sans-serif;
  background: var(--bg-page);
  color: var(--text-primary);
  transition: background 0.3s, color 0.3s;
  min-height: 100vh;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 40px;
}

.text-accent {
  color: var(--text-accent);
}

body.lock {
  overflow: hidden;
}

section {
  margin-bottom: 100px;
}

[data-theme="dark"] {
  .header__logo-img.light-logo {
    display: none;
  }
  .header__logo-img.dark-logo {
    display: block;
  }
}

@media (max-width: 768px) {
  section {
    margin-bottom: 80px;
  }
}
@media (max-width: 575px) {
  .container {
    padding: 0 16px;
  }
  section {
    margin-bottom: 60px;
  }
}
